body {
    background-color: #f0f0f0;
}

.header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0;
    background-color: #000000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1540px;
    min-width: 1400px;
    height: 100%;
    margin: 0 auto;
}

.header__logo a {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
}

.header__menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__link {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.header__button-logout {
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
    color: #FFFFFF;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}