.request-list {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
}

.request-list__title {
    margin-bottom: 30px;
    padding-left: 10px;
    border-left: 8px solid #000000;
    font-size: 30px;
    font-weight: bold;
}

.request-list__tabs {
    display: flex;
    gap: 100px;
    margin-bottom: 16px;
    padding-left: 50px;
    padding-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #000000;
}

.request-list__tab {
    text-decoration: none;
    color: #333;
    padding-bottom: 4px;
}

.request-list__tab.active {
    font-weight: bold;
}

.request-list__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #737373;
    letter-spacing: 0.2em;
}

.request-list__table thead tr {
    border-bottom: 3px solid #E1E1E1;
}

.request-list__table th {
    border-bottom: none;
}

.request-list__table th,
.request-list__table td {
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #E1E1E1;
}

.request-list__table td.date {
    letter-spacing: 0;
}

.request-list__table a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}