.attendance-list {
    max-width: 800px;
    margin: 40px auto;
    background-color: #F2F2F2;
    padding: 40px 20px;
    border-radius: 10px;
}

.attendance-list__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    border-left: 5px solid #000;
    padding-left: 10px;
}

.attendance-list__month-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    font-size: 18px;
}

.attendance-list__nav {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.attendance-list__current-month {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 18px;
}

.attendance-list__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 16px;
}

.attendance-list__table thead {
    background-color: #E6E6E6;
}

.attendance-list__table th,
.attendance-list__table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.attendance-list__table a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.attendance-list__table tr:last-child td {
    border-bottom: none;
}